<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >

      <section name="YourProjectName.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="ChannelName" value="NotSet" />
    <add key="BotName" value="NotSet" />
    <add key="ChannelOAuth" value="NotSet" />
    <add key="PubSubOAuth" value="NotSet" />
    <add key="TwitchApiOAuth" value="NotSet" />
    <add key="DiscordAPIKey" value ="NotSet" />
    <add key="DiscordNameID" value="NotSet" />
    <add key="DiscordEventChannelID" value ="NotSet" />
    <add key="DiscordAnnouncementChannelID" value ="NotSet" />
    <add key="BotConfigured" value="false" />
    <add key ="StreamAnnounced" value="false" />
  </appSettings>

</configuration>