<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>  

  <appSettings>
    <add key="ChannelName" value="NotSet" />
    <add key="BotName" value="NotSet" />
    <add key="ChannelOAuth" value="NotSet" />
    <add key="PubSubOAuth" value="NotSet" />
    <add key="TwitchApiOAuth" value="NotSet" />
    <add key="DiscordAPIKey" value ="NotSet" />
    <add key="DiscordNameID" value="NotSet" />
    <add key="DiscordEventChannelID" value ="NotSet" />
    <add key="DiscordAnnouncementChannelID" value ="NotSet" />
    <add key="BotConfigured" value="false" />
    <add key ="StreamAnnounced" value="false" />
  </appSettings>

</configuration>