<?xml version="1.0" encoding="utf-8" ?>

<configuration>
 <runtime>
   <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
     <probing privatePath="lib" />
   </assemblyBinding>
 </runtime>
 <appSettings>
    <add key="ChannelName" value="NotSet" />
    <add key="BotName" value="NotSet" />
    <add key="ChannelOAuth" value="NotSet" />
    <add key="PubSubOAuth" value="NotSet" />
    <add key="TwitchAPIOAuth" value="NotSet" />
    <add key="BotConfigured" value="false" />
 </appSettings>

</configuration>