<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <appSettings>
    <add key="ChannelName" value="NotSet" />
    <add key="BotName" value="NotSet" />
    <add key="ChannelOAuth" value="NotSet" />
    <add key="PubSubOAuth" value="NotSet" />
    <add key="TwitchApiOAuth" value="NotSet" />
    <add key="BotConfigured" value="false" />
 </appSettings>
</configuration>